* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: white;
  --hover-color: #12f7ff;
  --bg-color: #120b18;
  --secon-bg-color: #292e33;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neo-box-shadow: 0 0 0.5rem #12f7ff;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3),
    0 0 80px rgba(18, 247, 255, 0.3), 0 0 100px rgba(18, 247, 255, 0.3),
    0 0 150px rgba(18, 247, 255, 0.3);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: var(--text-color);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

/* HOME SECTION */
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 8%;
  color: white;
  overflow: hidden;
}

/* VIDEO BACKGROUND */
.video-container {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DARK OVERLAY */
.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* HOME CONTENT */
.home-content {
  max-width: 600px;
  z-index: 1;
}

.home-content h1 {
  font-size: 3rem;
}

.change-text h3 {
  font-size: 1.5rem;
}
.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
span {
  color: var(--hover-color);
}

.navlist {
  display: flex;
}
.navlist a {
  color: var(--text-color);
  font-weight: 500;
  padding: 25px 26px;
  font-size: 20px;
}

.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}
#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 3px;
  color: var(--secon-bg-color);
  display: none;
}

section {
  padding: 80px 10%;
}
.home {
  margin-top: 40px;
  min-width: 90vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4em;
}

.home-content {
  max-width: 600px;
}
.home-content h1 {
  font-size: var(--big-font);
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  text-shadow: var(--font-neon-text-shadow);
}
.change-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.change-text h3 .letter {
  transform-origin: center center 25px;
  display: inline-block;
}

/* OUT animation */
.change-text h3 .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

/* BEHIND */
.change-text h3 .letter.behind {
  transform: rotateX(-90deg);
  opacity: 0;
}

/* IN animation */
.change-text h3 .letter.in {
  transform: rotateX(0deg);
  opacity: 1;
  transition: 0.38s ease;
}

.home-content p {
  margin: 20px 0;
  font-size: 1.1rem;
  line-height: 1.8;
}
.home-content p {
  color: #bdbdbd;
}

.info-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 1rem 0 2rem;
}

.info-box h5 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1rem;
}
.info-box span {
  font-size: 0.9rem;
  color: #bdbdbd;
}
.btn-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 45px;
}
.btn-box a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  background: var(--hover-color);
  color: var(--bg-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: var(--neo-box-shadow);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-box a.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.803);
  color: var(--hover-color);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.btn-box a.btn:hover::before {
  transform: scaleX(1);
}
.btn-box a.btn {
  width: auto;
  padding: 10px 20px;
  height: 42px;
  font-size: 0.95rem;
}

.socail-icon {
  margin-top: 3rem;
  justify-content: space-between;
  height: 40px;
  margin-top: 3rem;
  margin-left: 20px;
}

.socail-icon a {
  display: inline-flex;
  width: 60px;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.4s;
  border-radius: 6px;
  box-shadow: 0 0 0.4rem var(--hover-color);
}

.socail-icon a:hover {
  background: var(--hover-color);
  color: var(--bg-color);
  transform: translateY(-10px);
  font-size: 30px;
}

.home-image {
  position: relative;
  right: 13%;
}
.mage-box {
  text-align: center;
}

.imag-box img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.liquid-shaper {
  position: absolute;
  top: 61%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: -1;
}

.liquid-shaper:nth-child(2) {
  filter: blur(50px);
}
.liquid-shaper1 {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 450px;
  z-index: -1;
}
.liquid-shaper1:nth-child(2) {
  filter: blur(50px);
}
.liquid-shaper1:nth-child(3) {
  filter: blur(80px);
}
#style-text {
  position: absolute;
  top: 16%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 1;
  text-shadow: var(--font-neon-text-shadow);
  border: 2px solid var(--hover-color);
}
#image-box1 {
  position: absolute;
  top: 14%;
  left: 78%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
  z-index: 1;
}
#image-box1 img {
  width: 325px;
  height: auto;
}

/*about .section css--------------------------------------------------------->*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--secon-bg-color);
  width: 100%;
  height: 80%;
  min-height: 100vh;
  padding: 4rem 2rem;
  border-radius: 19%;
  background: linear-gradient(var(--secon-bg-color), var(--secon-bg-color))
      padding-box,
    linear-gradient(270deg, #ffffff, #00ffff, #00ff66, #fcfcfc) border-box;

  border: 3px solid transparent;
  background-size: 100% 100%, 400% 400%;
  animation: borderMove 6s ease infinite;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about .img-about {
  text-align: center;
  position: relative;
}

.about .img-about img {
  max-width: 400px;
  height: auto;
}

.about-content span {
  color: whitesmoke;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-content h2 {
  font-size: var(--h2-font);
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-shadow: var(--font-neon-text-shadow);
}

.about-content p {
  margin: 15px 0;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ffffff;
}

.info-about1,
.info-about2,
.info-about3 {
  background: var(--bg-color);
  font-size: 0.8rem;
  position: absolute;
  padding: 5px;
  width: 100px;
  text-align: center;
  border-radius: 69% 32% 66% 34% / 21% 30% 70% 79%;
  display: block;
  box-shadow: var(--neo-box-shadow);
  border: 1px solid var(--hover-color);
  z-index: 2px solid var(--bg-color);
  animation: morph 5s infinite alternate;
}
.info-about1 {
  top: 26%;
  left: 31%;
}
.info-about2 {
  top: 32%;
  left: 15%;
}
.info-about3 {
  top: 37%;
  left: 31%;
  width: 120px;
  height: 60px;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 55% 45% / 45% 55% 45% 55%;
  }

  25% {
    border-radius: 45% 55% 60% 40% / 55% 45% 60% 40%;
  }

  50% {
    border-radius: 55% 45% 40% 60% / 40% 60% 55% 45%;
  }

  75% {
    border-radius: 40% 60% 45% 55% / 60% 40% 45% 55%;
  }

  100% {
    border-radius: 60% 40% 55% 45% / 45% 55% 45% 55%;
  }
}

/* liquid shaper about section */
home-image1 {
  position: relative;
  width: 10px;
}

#service {
  width: 138%;
  background: #393939;
  height: 1550px;
  border-radius: 3%;
}

/*<!-- service section ------------------------------------------->*/
.main-text {
  text-align: center;
}

.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--hover-color);
}
.main-text h2 {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.main-text h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 10px;
}

.main-text h2 {
  font-size: 700;
  font-size: var(--normal-font);
}

.main-text span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2rem;
}

.section-service .service-box {
  flex: 1 1 18rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background: var(--secon-bg-color);
  transition: transform 0.4s;
  border-radius: 10px;
  border: 1px solid white;
}

.service-btn {
  width: auto;
  justify-content: center;
}

.service-box:hover {
  transform: translateY(-0.7rem);
  box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
  border: 2px solid var(--hover-color);
}

.service-icon {
  border: 2px solid var(--hover-color);
  padding: 2rem;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--neo-box-shadow);
  outline: 3px solid var(--bg-color);
}

.service-box h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.service-box p {
  margin: 0.5rem 0 1.5rem 0;
  font-weight: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
}

/*<!-- service section ------------------------------------------->*/

#skills {
  background: var(--normal-font);
  width: 130%;
  height: auto;
}

.Skill-main {
  display: grid;
  grid-template-columns: 1fr 1fr; /* left and right columns */
  gap: 30px 100px;
  width: 110%;
  height: 65%;
  padding: 50px;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.skill-left h3,
.skill-right h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.skill-bar {
  margin-bottom: 2rem;
}

.skill-bar .info {
  display: flex;
  justify-content: space-between; /* number on right */
  align-items: center;
  padding: 0 10px;
}

.bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 5px;
}

.bar span {
  display: block;
  height: 100%;
  width: 0;
  border-radius: 8px;
  animation: fill 2s forwards;
}

/* Left column colors & animations */
.skill-bar.html span {
  background-color: var(--hover-color);
  animation-name: fill-html;
}
.skill-bar.javascript span {
  background-color: var(--hover-color);
  animation-name: fill-js;
}
.skill-bar.csharp span {
  background-color: var(--hover-color);
  animation-name: fill-csharp;
}

.skill-bar span {
  background-color: var(--hover-color);
  animation-name: fill-C;
}
.skill-bar.PR span {
  background-color: var(--hover-color);
  animation-name: fill-PR;
}
.skill-bar.AI span {
  background-color: var(--hover-color);
  animation-name: fill-AI;
}
.skill-bar.Ps span {
  background-color: var(--hover-color);
  animation-name: fill-PS;
}
/*ចន្លោះ ----------------------*/
.skill-bar {
  margin-bottom: 60px;
}

/* Keyframes for left */
@keyframes fill-html {
  from {
    width: 0;
  }
  to {
    width: 72%;
  }
}
@keyframes fill-js {
  from {
    width: 0;
  }
  to {
    width: 5%;
  }
}
@keyframes fill-csharp {
  from {
    width: 0;
  }
  to {
    width: 66%;
  }
}

@keyframes fill-PR {
  from {
    width: 0;
  }
  to {
    width: 49%;
  }
}
@keyframes fill-AI {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes fill-PS {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
/*right----------------------------------------------------------------*/

.skill-right {
  display: flex;
  flex-direction: column;
}

/* 2 boxes per row */
.Professional {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Box */
.box {
  text-align: center;
}

/* Circle container */
.circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}

/* Points around circle */
.points {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #00ffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: rotate(calc(var(--i) * 12deg)) translate(50px);
  opacity: 0;
  animation: showPoints 0.5s forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

/* Animation */
@keyframes showPoints {
  to {
    opacity: 1;
  }
}

/* Text */
.text {
  margin-top: 15px;
}

.text big {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ffff;
}

.text small {
  display: block;
  font-size: 0.9rem;
  color: #ccc;
}

.box {
  background: #120b18; /* box color */
  border: 2px solid #00ffff; /* visible border */
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}
